<div class='row'>
    
    <div class="col-lg-3">
      <a href="/new_grant_application" class="thumbnail">
        <%= image_tag "science.png" %>
        <h2 align="center"> Science Canada Conference </h2>
      </a>
    </div>
    
    <div class="col-lg-3">
      <a href="/welcome" class="thumbnail">
        <%= image_tag "cloud.png" %>
        <h2 align="center"> Cloud Computing Conference </h2>
        <%  %>
      </a>
    </div>
    
    <div class="col-lg-3">
      <a href="/welcome" class="thumbnail">
        <%= image_tag "nasa.png" %>
        <h2 align="center"> Japan NASA Conference </h2>
      </a>
    </div>
    
</div>
