

@import "bootstrap-sprockets";
@import "bootstrap";


.navbar {
  margin-bottom: 0 !important;
  background-color: #8F001A;
  border: none !important;
  //height: 15vh;
}



.login {
  margin-top: 10vh;
}

.ctgs {
  color: #333333;
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 0.2em;
}

.thumbnail:hover {
  text-decoration:none;
  background-color: #8F001A;
}

.thumbnail {
  background-color:#fff ;
  border: none;
  h2 {
    color: #000 !important;
  }
}

.label-primary {
  background-color: #8F001A;
}
