
    <div class = "row">
        <div class = "col-xs-8 col-xs-offset-2">
            <div class= "well well-lg"> <!-- wells are used to create a border around elements -->
              
                <div class = "">
                    <%= link_to "Expense Estimate", new_application_request_expense_estimate_path(@application_request) %> 
                </div>
                
               
                
                <% if logged_in? %>
                    <div class = "field-actions">
                        <%= link_to 'Edit Expense Estimate', root_path, class: "btn btn-xs btn-primary center" %>
                        <%= link_to 'Delete ', root_path, #method: :delete,
                                                    data: {confirm: "Are you sure you want to delete the article?"},
                                                     class: "btn btn-xs btn-danger center" %>

                    </div>
                <% end %>
            </div>
        </div>      
    </div>